In [38]:
import os 
import pandas as pd
from collections import defaultdict
import numpy as np 
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import pickle 
import glob

In [39]:
samples = ['TCGA-BH-A18V-01A-11R-A12D-07.all', 
        'TCGA-C8-A12P-01A-11R-A115-07.all', 
        'TCGA-AO-A0JM-01A-21R-A056-07.all', 
        'TCGA-A2-A0SX-01A-12R-A084-07.all',
        'TCGA-A2-A0D2-01A-21R-A034-07.all']

sample = samples[1]
sample_short = ''.join(sample.split('.')[:-1])
sample_lower = '_'.join(sample_short.split('-')[1:3]).lower()
sample_pool = sample.replace('-', '').replace('.', '')

In [40]:
experiment_id = '427'

In [41]:
# Fasta file with the peptides and the metadata in the samples (longlist derived)
filter_fasta_long = f'/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_{sample_short}.all/commit_d4aee54_GTEXcore/G_{sample_short}_query_peptides_kmers.fa'
print(filter_fasta_long)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-C8-A12P-01A-11R-A115-07.all/commit_d4aee54_GTEXcore/G_TCGA-C8-A12P-01A-11R-A115-07_query_peptides_kmers.fa

In [42]:
# the experiment/ peptide table 
sample_experiment_peptides = f'/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_{sample_short}.all/commit_d4aee54_GTEXcore/G_{sample_short}_experiments_per_peptide.tsv'
print(sample_experiment_peptides)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-C8-A12P-01A-11R-A115-07.all/commit_d4aee54_GTEXcore/G_TCGA-C8-A12P-01A-11R-A115-07_experiments_per_peptide.tsv

In [43]:
### FIX ###
# Fasta file with the peptides and the metadata in the samples (longlist derived)
filter_fasta_long_with_flag = f'/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_{sample_short}.all/commit_d4aee54_GTEXcore/G_{sample_short}_query_peptides_kmers_flag_jx.fa'
print(filter_fasta_long_with_flag)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-C8-A12P-01A-11R-A115-07.all/commit_d4aee54_GTEXcore/G_TCGA-C8-A12P-01A-11R-A115-07_query_peptides_kmers_flag_jx.fa

In [44]:
### SHORTCUT FOR ONE EXPERIMENT ### (Should use the experiment file to extract the name of the file)
# MHC File 
sample_MHC = f'/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_{sample_short}.all/commit_d4aee54_GTEXcore/G_{sample_short}.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv'

In [45]:
gene_eq_path = '/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v3_d2d2574_TEST_conf2_annotFrame_cap0_runs/TCGA_Breast_1102'

# Process experiment outputs (fasta, MHC, experiment)

In [18]:
# Process the experiment/ peptide table file according to the experiment wanted 
downsample_pept_exp = []
with open(sample_experiment_peptides) as fp:
    for idx, line in enumerate(fp.readlines()):
        if idx:
            sample_peptide_id = line.split()[0]
            sample_experiment_ids = line.split()[2].split(';')
            if experiment_id in sample_experiment_ids:
                downsample_pept_exp.append(sample_peptide_id)
            
downsample_pept_exp = pd.DataFrame(downsample_pept_exp, columns = ['>pepID'])

In [19]:
len(downsample_pept_exp)

165876

In [20]:
# # Process the ORIGINAL flag file with the peptides and the metadata in the samples (longlist derived)
# # Downsample for the experiement of interest 

# samples = ['TCGA-BH-A18V-01A-11R-A12D-07.all', 
#         'TCGA-C8-A12P-01A-11R-A115-07.all', 
#         'TCGA-AO-A0JM-01A-21R-A056-07.all', 
#         'TCGA-A2-A0SX-01A-12R-A084-07.all',
#         'TCGA-A2-A0D2-01A-21R-A034-07.all']

# all_fasta = []

# for sample in samples:
#     sample_short = ''.join(sample.split('.')[:-1])
#     sample_lower = '_'.join(sample_short.split('-')[1:3]).lower()
#     sample_pool = sample.replace('-', '').replace('.', '')

#     meta = []
#     peptides = []
#     with open(filter_fasta_long) as fp:
#         for idx, line in enumerate(fp.readlines()):
#             #print(idx)
#             if idx == 0: 
#                 header = [field.split('-')[0] for field in line.replace('\n', '').split(';')]
#             if '>' in line:
#                 meta_fields = [field.split('-')[1] for field in line.replace('\n', '').split(';')]
#                 target_pep_id = meta_fields[0]
#                 meta.append(meta_fields)
#             elif ('>' not in line):
#                 peptides.append(line.replace('\n', ''))

#     df_filter_fasta_long = pd.DataFrame(meta)
#     df_filter_fasta_long['peptide'] = peptides #optional
#     df_filter_fasta_long.columns = header + ['peptide'] 
#     df_filter_fasta_long = df_filter_fasta_long.merge(downsample_pept_exp, 
#                                                       on = '>pepID', how = 'right')
#     df_filter_fasta_long = df_filter_fasta_long.drop_duplicates()
#     df_filter_fasta_long['sample'] = sample_pool
#     all_fasta.append(df_filter_fasta_long)
#     print(df_filter_fasta_long.shape)
#     print(f'done with sample {sample_pool}')

# all_fasta_orig = pd.concat(all_fasta, axis = 0 )

In [21]:
#TODO = SOLVE THE ISSUE WITH THE EMPTY LINES

In [38]:
# Process the Fasta flag file with the peptides and the metadata in the samples (longlist derived)
# Downsample for the experiement of interest 

samples = ['TCGA-BH-A18V-01A-11R-A12D-07.all', 
        'TCGA-C8-A12P-01A-11R-A115-07.all', 
        'TCGA-AO-A0JM-01A-21R-A056-07.all', 
        'TCGA-A2-A0SX-01A-12R-A084-07.all',
        'TCGA-A2-A0D2-01A-21R-A034-07.all']

all_fasta = []

for sample in samples:
    sample_short = ''.join(sample.split('.')[:-1])
    sample_lower = '_'.join(sample_short.split('-')[1:3]).lower()
    sample_pool = sample.replace('-', '').replace('.', '')
    filter_fasta_long_with_flag = f'/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_{sample_short}.all/commit_d4aee54_GTEXcore/G_{sample_short}_query_peptides_kmers_flag_jx.fa'
    print(filter_fasta_long_with_flag)

    meta = []
    peptides = []
    with open(filter_fasta_long_with_flag) as fp:
        for idx, line in enumerate(fp.readlines()):
            if idx == 0: 
                header = [field.split('-')[0] for field in line.replace('\n', '').split(';')]
            if '>' in line:
                meta_fields = [field.split('-')[1] for field in line.replace('\n', '').split(';')]
                target_pep_id = meta_fields[0]
                meta.append(meta_fields)
            elif ('>' not in line) and (line):
                peptides.append(line.replace('\n', ''))

    df_filter_fasta_long = pd.DataFrame(meta)
    df_filter_fasta_long['peptide'] = peptides #optional
    df_filter_fasta_long.columns = header + ['peptide'] 
    df_filter_fasta_long = df_filter_fasta_long.merge(downsample_pept_exp, 
                                                      on = '>pepID', how = 'right')
    df_filter_fasta_long = df_filter_fasta_long.drop_duplicates()
    df_filter_fasta_long['sample'] = sample_pool
    all_fasta.append(df_filter_fasta_long)
    print(df_filter_fasta_long.shape)
    print(f'done with sample {sample_pool}')

all_fasta = pd.concat(all_fasta, axis = 0 )

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-BH-A18V-01A-11R-A12D-07.all/commit_d4aee54_GTEXcore/G_TCGA-BH-A18V-01A-11R-A12D-07_query_peptides_kmers_flag_jx.fa
(181197, 13)
done with sample TCGABHA18V01A11RA12D07all
/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-C8-A12P-01A-11R-A115-07.all/commit_d4aee54_GTEXcore/G_TCGA-C8-A12P-01A-11R-A115-07_query_peptides_kmers_flag_jx.fa
LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

>pepID-67975;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-67976;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-67977;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-67978;jx_pos-56;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221274_50220015;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

(187798, 13)
done with sample TCGAC8A12P01A11RA11507all
/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-AO-A0JM-01A-21R-A056-07.all/commit_d4aee54_GTEXcore/G_TCGA-AO-A0JM-01A-21R-A056-07_query_peptides_kmers_flag_jx.fa
(180983, 13)
done with sample TCGAAOA0JM01A21RA05607all
/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-A2-A0SX-01A-12R-A084-07.all/commit_d4aee54_GTEXcore/G_TCGA-A2-A0SX-01A-12R-A084-07_query_peptides_kmers_flag_jx.fa
LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

>pepID-69810;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-69811;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-69812;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-69813;jx_pos-56;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221274_50220015;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

(181787, 13)
done with sample TCGAA2A0SX01A12RA08407all
/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-A2-A0D2-01A-21R-A034-07.all/commit_d4aee54_GTEXcore/G_TCGA-A2-A0D2-01A-21R-A034-07_query_peptides_kmers_flag_jx.fa
LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

>pepID-68616;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-68617;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-68618;jx_pos-118;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221518_50221445;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAVGAGGRGLQQAEGARPFSDSLSIGDFLPVGPGAEPSVQTGMVPLLEVALQTINLDLPPSAPGEAPAAASTQPSRLQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRCQGVVFPQGTTLLK

>pepID-68619;jx_pos-56;between_codons-0;includes_5'-0;includes_3'-1;gene-ENSG00000128159.12;jx_coord-50221274_50220015;kmer-SPQSGSLGR;readFrameAnnotated-0;junctionAnnotated-0;origin-2exons

LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRGAASPQSGSLGRPWEERGH

(180930, 13)
done with sample TCGAA2A0D201A21RA03407all

In [33]:
all_fasta.head()

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,origin,peptide,sample
0,0,56,1,0,1,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all
1,0,57,1,0,1,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all
2,2,56,1,0,0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all
3,2,57,1,0,0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all
4,4,12,0,0,0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,2exons,WLRGELDRAAADGVLSVYPGLPASPSAGSACDQHLLELHWLCGGLCLRP,TCGABHA18V01A11RA12D07all

In [40]:
all_fasta.loc[all_fasta['kmer'] == 'SPQSGSLGR', :]

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,origin,peptide,sample
63683,67975,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,2exons,VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAV...,TCGAC8A12P01A11RA11507all
59808,69811,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,2exons,VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAV...,TCGAA2A0SX01A12RA08407all
59809,69813,56,0,0,1,ENSG00000128159.12,50221274_50220015,SPQSGSLGR,0,0,2exons,LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRG...,TCGAA2A0SX01A12RA08407all
58114,68616,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,2exons,VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAV...,TCGAA2A0D201A21RA03407all
58115,68617,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,2exons,VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAV...,TCGAA2A0D201A21RA03407all
58116,68618,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,2exons,VTSPGPEHPEGGQGCDSGSAEQHSPAWDGWNRPGLLTPQPLKPLAV...,TCGAA2A0D201A21RA03407all
58117,68619,56,0,0,1,ENSG00000128159.12,50221274_50220015,SPQSGSLGR,0,0,2exons,LQSAAWAAQGYSCGRTVVGRWMPVAPPRGRLCSPHTHPGVLLWRRG...,TCGAA2A0D201A21RA03407all

In [41]:
# Process the MHC binding fileS

samples = ['TCGA-BH-A18V-01A-11R-A12D-07.all', 
        'TCGA-C8-A12P-01A-11R-A115-07.all', 
        'TCGA-AO-A0JM-01A-21R-A056-07.all', 
        'TCGA-A2-A0SX-01A-12R-A084-07.all',
        'TCGA-A2-A0D2-01A-21R-A034-07.all']
all_mhc = []
for sample in samples:
    sample_short = ''.join(sample.split('.')[:-1])
    sample_lower = '_'.join(sample_short.split('-')[1:3]).lower()
    sample_pool = sample.replace('-', '').replace('.', '')
    sample_MHC = f'/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_{sample_short}.all/commit_d4aee54_GTEXcore/G_{sample_short}.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv'
    print(sample_MHC)
    MHC = pd.read_csv(sample_MHC, sep = '\t')
    MS_min = MHC.groupby(['kmer', 
                         ]).min()
    MS_min = MS_min[['percentile_rank', 'affinity']].reset_index()
#     MS_min = MS_min.rename(
#         {'percentile_rank': f'percentile_rank_{sample_pool}', 
#          'affinity': f'affinity_{sample_pool}'},
#         axis = 1)
    MS_min['sample'] = sample_pool
    display(MS_min.head(3))
    display(MS_min.shape)
    all_mhc.append(MS_min)

all_mhc = pd.concat(all_mhc, axis = 0 )


# MS_result = all_samples[0]
# for i in np.arange(1, len(all_samples)):
#     MS_result = MS_result.merge(all_samples[i], on = 'kmer', how = 'outer')

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-BH-A18V-01A-11R-A12D-07.all/commit_d4aee54_GTEXcore/G_TCGA-BH-A18V-01A-11R-A12D-07.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv

        kmer  percentile_rank  affinity                     sample
0  AAAALQQHS              8.5  17394.11  TCGABHA18V01A11RA12D07all
1  AAADGVLSV              0.5    115.36  TCGABHA18V01A11RA12D07all
2  AAADGWTMG              1.8   5876.76  TCGABHA18V01A11RA12D07all

(21363, 4)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-C8-A12P-01A-11R-A115-07.all/commit_d4aee54_GTEXcore/G_TCGA-C8-A12P-01A-11R-A115-07.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv

        kmer  percentile_rank  affinity                     sample
0  AAAALQQHS              6.5   7657.20  TCGAC8A12P01A11RA11507all
1  AAADGVLSV              2.5   1791.30  TCGAC8A12P01A11RA11507all
2  AAADGWTMG             15.0  14828.98  TCGAC8A12P01A11RA11507all

(20696, 4)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-AO-A0JM-01A-21R-A056-07.all/commit_d4aee54_GTEXcore/G_TCGA-AO-A0JM-01A-21R-A056-07.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv

        kmer  percentile_rank  affinity                     sample
0  AAADGVLSV              0.5    115.36  TCGAAOA0JM01A21RA05607all
1  AAADGWTMG              1.8   5876.76  TCGAAOA0JM01A21RA05607all
2  AAAFASPQA             10.0  16407.83  TCGAAOA0JM01A21RA05607all

(20930, 4)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-A2-A0SX-01A-12R-A084-07.all/commit_d4aee54_GTEXcore/G_TCGA-A2-A0SX-01A-12R-A084-07.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv

        kmer  percentile_rank  affinity                     sample
0  AAAALQQHS              8.5  17394.11  TCGAA2A0SX01A12RA08407all
1  AAADGVLSV              0.5    875.06  TCGAA2A0SX01A12RA08407all
2  AAADGWTMG              1.8   5876.76  TCGAA2A0SX01A12RA08407all

(21330, 4)

/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v2.5f0752a_conf2_annotFrame_cap0_runs_pya0.17.1/TCGA_Breast_1102/filter_TCGA-A2-A0D2-01A-21R-A034-07.all/commit_d4aee54_GTEXcore/G_TCGA-A2-A0D2-01A-21R-A034-07.all_ref_SampleLim2.0CohortLim0.0Across1_FiltNormalsGtexcoreCohortlim0.0Across0_FiltUniprot_FiltMHC.tsv

        kmer  percentile_rank  affinity                     sample
0  AAAALQQHS             28.0  28062.41  TCGAA2A0D201A21RA03407all
1  AAADGVLSV              2.5   1791.30  TCGAA2A0D201A21RA03407all
2  AAADGWTMG             16.0  20550.52  TCGAA2A0D201A21RA03407all

(20707, 4)

In [42]:
all_mhc.loc[all_mhc['kmer'] == 'SPQSGSLGR', :]

            kmer  percentile_rank  affinity                     sample
16890  SPQSGSLGR              6.5   8739.69  TCGAA2A0D201A21RA03407all

# Combine MHC, fasta

In [43]:
# Combine filter metadata flag, and MHC
result = all_fasta.merge(all_mhc, on = ['sample', 'kmer'] , how='left') # right is subset?

display(result.head())
display(result.shape)

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,origin,peptide,sample,percentile_rank,affinity
0,2,56,1,0,0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all,8.5,17394.11
1,2,57,1,0,0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all,8.5,17394.11
2,4,12,0,0,0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,2exons,WLRGELDRAAADGVLSVYPGLPASPSAGSACDQHLLELHWLCGGLCLRP,TCGABHA18V01A11RA12D07all,0.5,115.36
3,5,12,0,0,1,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,2exons,WLRGELDRAAADGWTMGTGARLSPSCVPGTWTGETCVPSSRRPWWR...,TCGABHA18V01A11RA12D07all,1.8,5876.76
4,6,12,0,0,0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,2exons,WLRGELDRAAADGWTMGTGARLSPSCVPGTWTGETCVPSSRRPWWR...,TCGABHA18V01A11RA12D07all,1.8,5876.76

(912695, 15)

In [44]:
result.head()

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,origin,peptide,sample,percentile_rank,affinity
0,2,56,1,0,0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all,8.5,17394.11
1,2,57,1,0,0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all,8.5,17394.11
2,4,12,0,0,0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,2exons,WLRGELDRAAADGVLSVYPGLPASPSAGSACDQHLLELHWLCGGLCLRP,TCGABHA18V01A11RA12D07all,0.5,115.36
3,5,12,0,0,1,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,2exons,WLRGELDRAAADGWTMGTGARLSPSCVPGTWTGETCVPSSRRPWWR...,TCGABHA18V01A11RA12D07all,1.8,5876.76
4,6,12,0,0,0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,2exons,WLRGELDRAAADGWTMGTGARLSPSCVPGTWTGETCVPSSRRPWWR...,TCGABHA18V01A11RA12D07all,1.8,5876.76

# Extract genes and get right recurrence from new runs!

In [45]:
result['gene'].unique().shape

(3384,)

In [ ]:
# Get the peptide generation folders of the new run 
gene_eq_path = '/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/v2_v3_d2d2574_TEST_conf2_annotFrame_cap0_runs/TCGA_Breast_1102'

gene_eq = []
with open(os.path.join(gene_eq_path, 'ref_gene_folder_eq')) as fp:
    for line in fp.readlines():
        line_s = line.replace('\n', '').split(' ')
        if len(line_s) !=2:
            continue
        gene_eq.append(line_s)
new_run_genes = pd.DataFrame(gene_eq)
new_run_genes.columns = ['path', 'gene']



display(new_run_genes.head())

In [72]:
# Collect the new expression values of the peptide generation 
new_generation = []
for idx, gene in enumerate(result['gene'].unique()):
    if gene is not np.nan:
        print(idx)
        gene_folder0 = new_run_genes.loc[new_run_genes['gene'] == gene, 'path'].to_list()[0]
        gene_folder = os.path.join(gene_eq_path, '/'.join(gene_folder0.split('/')[-2:]))
        generated = pd.read_parquet(os.path.join(gene_folder, 'ref_graph_kmer_JuncExpr.pq'))
        generated = generated.set_index('kmer')
        kmer_interest = result.loc[result['gene'] == gene, 'kmer'].unique()
        generated = generated.loc[kmer_interest, :].reset_index()
        generated['gene'] = gene
        new_generation.append(generated)
    new_generation_df = pd.concat(new_generation, axis = 0 )
display(new_generation_df)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860

1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3156
3157
3158
3159
3160
3161
3162
3163
3164
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3176
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3258
3259
3260
3261
3262
3263
3264
3265
3266
3267
3268
3269
3270
3271
3272
3273
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3296
3297
3298
3299
3300
3301
3302
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3360
3361
3362
3363
3364
3365
3366
3367
3368
3369
3370
3371
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3382
3383

,kmer,TCGA3CAAAU01A11RA41B07all,TCGA3CAALI01A11RA41B07all,TCGA3CAALJ01A31RA41B07all,TCGA3CAALK01A11RA41B07all,TCGA4HAAAK01A12RA41B07all,TCGA5LAAT001A12RA41B07all,TCGA5LAAT101A12RA41B07all,TCGA5TA9QA01A11RA41B07all,TCGAA1A0SB01A11RA14407all,...,TCGAWTAB4101A11RA41B07all,TCGAWTAB4401A11RA41B07all,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated,readFrameAnnotated,gene
0,AAAALQQHS,4.0,1.0,1.0,3.0,1.0,0.0,4.0,1.0,2.0,...,0.0,0.0,6.0,0.0,0.0,3.0,True,0.0,0,ENSG00000060339.14
1,AAALQQHSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
2,AALQQHSSV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
3,ALQQHSSVF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
4,AQQRVFTGV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,SPHSIRNDR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000008441.16
3,TPPSPSPHS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000008441.16
0,SLPSFLGWI,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000136381.13
0,TDVAKGSLG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000091436.17
1,WATDVAKGS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000091436.17

In [73]:
len(new_generation_df.index.unique())

216

In [74]:
# From new expression values of the peptide generation 
# compute accurate recurrence
cohort_cancer = [ col for col in new_generation_df.columns if 'TCGA' in col ] 
new_generation_df = new_generation_df.reset_index()
new_generation_df['recurrence'] = 0 
for idx, row in new_generation_df[0:len(new_generation_df)].iterrows():
    vals = row[cohort_cancer].values
    new_generation_df.loc[idx, 'recurrence'] = len(np.where(vals > 0 )[0])

In [75]:
# Change column flag name on recurrence table 
new_generation_df = new_generation_df.rename({'junctionAnnotated':'junctionAnnotated_kmer', 
                          'readFrameAnnotated':'readFrameAnnotated_kmer'}, axis = 1)

In [76]:
new_generation_df.head()

,index,kmer,TCGA3CAAAU01A11RA41B07all,TCGA3CAALI01A11RA41B07all,TCGA3CAALJ01A31RA41B07all,TCGA3CAALK01A11RA41B07all,TCGA4HAAAK01A12RA41B07all,TCGA5LAAT001A12RA41B07all,TCGA5LAAT101A12RA41B07all,TCGA5TA9QA01A11RA41B07all,...,TCGAWTAB4401A11RA41B07all,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,gene,recurrence
0,0,AAAALQQHS,4.0,1.0,1.0,3.0,1.0,0.0,4.0,1.0,...,0.0,6.0,0.0,0.0,3.0,True,0.0,0,ENSG00000060339.14,970
1,1,AAALQQHSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1
2,2,AALQQHSSV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1
3,3,ALQQHSSVF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1
4,4,AQQRVFTGV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1

In [77]:
# Save intermediate file 
new_generation_df.to_csv(os.path.join(gene_eq_path, 'exp_427_kmers_fix-sample.csv.gz'), 
                      compression = 'gzip', index = None )

In [182]:
# # Load intermediate file 
# new_generation_df = pd.read_csv( os.path.join(gene_eq_path, 'exp_427_kmers.csv.gz'), 
#                            compression = 'gzip')
# display(new_generation_df.head())

,kmer,TCGA3CAAAU01A11RA41B07all,TCGA3CAALI01A11RA41B07all,TCGA3CAALJ01A31RA41B07all,TCGA3CAALK01A11RA41B07all,TCGA4HAAAK01A12RA41B07all,TCGA5LAAT001A12RA41B07all,TCGA5LAAT101A12RA41B07all,TCGA5TA9QA01A11RA41B07all,TCGAA1A0SB01A11RA14407all,...,TCGAWTAB4101A11RA41B07all,TCGAWTAB4401A11RA41B07all,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated,readFrameAnnotated,gene
0,AAAALQQHS,4.0,1.0,1.0,3.0,1.0,0.0,4.0,1.0,2.0,...,0.0,0.0,6.0,0.0,0.0,3.0,True,0.0,0,ENSG00000060339.14
1,AAALQQHSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
2,AALQQHSSV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
3,ALQQHSSVF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14
4,AQQRVFTGV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14

In [130]:
new_generation_df.head()

,kmer,TCGA3CAAAU01A11RA41B07all,TCGA3CAALI01A11RA41B07all,TCGA3CAALJ01A31RA41B07all,TCGA3CAALK01A11RA41B07all,TCGA4HAAAK01A12RA41B07all,TCGA5LAAT001A12RA41B07all,TCGA5LAAT101A12RA41B07all,TCGA5TA9QA01A11RA41B07all,TCGAA1A0SB01A11RA14407all,...,TCGAWTAB4401A11RA41B07all,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,gene,recurrence
0,AAAALQQHS,4.0,1.0,1.0,3.0,1.0,0.0,4.0,1.0,2.0,...,0.0,6.0,0.0,0.0,3.0,True,0.0,0,ENSG00000060339.14,1102
1,AAALQQHSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1102
2,AALQQHSSV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1027
3,ALQQHSSVF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1102
4,AQQRVFTGV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1

# Get and remove GTEX junctions

In [68]:
# Load graph for GTEX 
graph_GTEX = '/cluster/work/grlab/projects/GTEx/rna_gencode32/results/splicing/spladder/genes_graph_conf2.merge_graphs.pickle'
graph, meta = pickle.load(open(graph_GTEX, 'rb'))

In [69]:
# Get the graph junctions 
cross_gene_junction_GTEX = []
for idx, gene in enumerate(new_generation_df['gene'].unique()):
    print(idx)
    gene_folder = new_run_genes.loc[new_run_genes['gene'] == gene, 'path'].to_list()[0]

    print(gene)

    # gather graph info 
    gene_id  = int(gene_folder.split('_')[-1])
    gene_graph = graph[gene_id]
    assert(gene_graph.name == gene)
    gene_graph.from_sparse()
    list_edges = np.where(gene_graph.splicegraph.edges > 0 )
    
    # collect junctions seen in GTEX
    collection_junction = []
    for vertice1, vertice2 in zip(list_edges[0], list_edges[1]):
        v1_start = gene_graph.splicegraph.vertices[0][vertice1]
        v1_stop = gene_graph.splicegraph.vertices[1][vertice1]
        v2_start = gene_graph.splicegraph.vertices[0][vertice2]
        v2_stop = gene_graph.splicegraph.vertices[1][vertice2]
    #     print(gene_graph.strand)
    #     print(v1_start, v1_stop, v2_start, v2_stop)
        if gene_graph.strand == '+':
            junction = f'{v1_stop}_{v2_start}'
        elif gene_graph.strand == '-':
            junction = f'{v2_start}_{v1_stop}'
        collection_junction.append(junction)
        
    # convert to dataframe and add meta info
    junction_GTEX = pd.DataFrame(collection_junction)
    junction_GTEX.columns = ['jx_coord']
    junction_GTEX['gene'] = gene
    junction_GTEX['strand'] = gene_graph.strand 
    junction_GTEX['GTEX_presence'] = 1
    junction_GTEX = junction_GTEX.drop_duplicates()
    
    cross_gene_junction_GTEX.append(junction_GTEX)


cross_gene_junction_GTEX_df = pd.concat(cross_gene_junction_GTEX, axis = 0)

NameError: name 'new_generation_df' is not defined

# Get the GTEX unprocessed junctions

In [48]:
#spladder_junction_file = glob.glob('/cluster/work/grlab/projects/GTEx/rna_gencode32_realign/results/junctions_spladder_filtered/*')

In [49]:
#spladder_junction_file = [file_ for file_ in spladder_junction_file if 'tsv' in  file_]

In [50]:
whitelist_GTEX = '/cluster/work/grlab/projects/projects2020_OHSU/sample_lists/GTEX/GTEx_sample_IDs_10-2021_lib_graph_juliannelist'

In [51]:
whitelist_GTEXcore = '/cluster/work/grlab/projects/projects2020_OHSU/sample_lists/GTEX/GTEx_sample_IDs_10-2021_lib_graph_juliannelist_noBrain_noTestis'

In [52]:
whitelist_GTEX = pd.read_csv(whitelist_GTEX, names = ['sample'])

In [53]:
whitelist_GTEXcore = pd.read_csv(whitelist_GTEXcore, names = ['sample'])

In [54]:
whitelist_GTEX = [ sample.replace('all', '') for sample in whitelist_GTEX['sample']]

In [55]:
whitelist_GTEXcore = [ sample.replace('all', '') for sample in whitelist_GTEXcore['sample']]

In [56]:
# spladder_junctions_GTEX = [file_ for sample in whitelist_GTEX['sample'] \
#                                 for file_ in spladder_junction_file \
#                                 if sample.replace('all', '') in file_]

In [57]:
# spladder_junctions_GTEXcore = [file_ for sample in whitelist_GTEXcore['sample'] \
#                                 for file_ in spladder_junction_file \
#                                 if sample.replace('all', '') in file_]

In [58]:
# collect_spladder_GTEX = defaultdict(lambda: 0)
# collect_spladder_GTEXcore = defaultdict(lambda: 0)
# collect_spladder_GTEX_ondisk = defaultdict(lambda: 0)

In [59]:
# for path_spladder_counts in spladder_junction_file[1:2]:
#     spladder_count = pd.read_csv(path_spladder_counts, sep = '\t')
    
#     for i, row in spladder_count.iterrows():
#         if row['strand'] == '+':
#             junction_coord = str(row['junction_start']) + '_' + str(row['junction_end'])
#         else:
#             junction_coord = str(row['junction_end']) + '_' + str(row['junction_start'])
            
# #         collect_spladder_GTEX_ondisk[junction_coord] = np.mean((
# #             collect_spladder_GTEX_ondisk[junction_coord], row['count']))
# #         if path_spladder_counts in spladder_junctions_GTEX:
# #                     collect_spladder_GTEX[junction_coord] = np.mean((
# #             collect_spladder_GTEX[junction_coord], row['count']))
# #         if path_spladder_counts in spladder_junctions_GTEXcore:
# #                     collect_spladder_GTEXcore[junction_coord] = np.mean((
# #             collect_spladder_GTEXcore[junction_coord], row['count']))

In [60]:
# spladder_count.head()

In [61]:
# spladder_counts = []
# for idx, path_spladder_counts in enumerate(spladder_junction_file):
#     print(idx)
#     spladder_count = pd.read_csv(path_spladder_counts, sep = '\t')
#     spladder_count = spladder_count.rename({'count':
#                                             os.path.basename(path_spladder_counts).split('.')[0] 
#                                             }, axis = 1)
#     spladder_counts.append(spladder_count)

In [62]:
# df_spladder = spladder_counts[0]
# for idx, df in enumerate(spladder_counts[1:]):
#     print(df)
#     df_spladder = df_spladder.merge(df, on = [ 'chr', 'strand', 
#                                     'junction_start', 'junction_end'], 
#                                     how = 'outer')

In [63]:
#df_spladder.head()

In [64]:
import h5py

In [86]:
filtered = False
counts = False

In [65]:
if filtered: 
    path_glob = '/cluster/work/grlab/projects/GTEx/rna_gencode32_realign/results/junctions_spladder_filtered_projected/*''
else: 
    path_glob = '/cluster/work/grlab/projects/GTEx/rna_gencode32_realign/results/junctions_spladder_projected/*''

    path_spladder_hdf5 = glob.glob(path_glob)
# Seem to be consistent with /cluster/work/grlab/projects/GTEx/rna_gencode32_realign/results/junctions_spladder_filtered/

In [79]:
df_spladder_a = []

for path_hdf5 in path_spladder_hdf5: 
    chrom = path_hdf5.split('.')[-2]
    print(chrom)
    foo = h5py.File(path_hdf5, 'r')
    
    hdf_names = [sample.decode() for sample in foo['samples']]

    # hdf_id_GTEX = [idx for idx, sample in enumerate(hdf_names) if sample in whitelist_GTEX]
    # hdf_id_GTEXcore = [idx for idx, sample in enumerate(hdf_names) if sample in whitelist_GTEXcore]
    # len(hdf_id_GTEX)
    # len(hdf_id_GTEXcore)

    for strand in ['-', '+']:
        # mean expression across cohort 
        if counts:
            spladder_on_disk = np.mean(foo[f'{chrom}:{strand}:count'], axis = 1)
        else: 
            spladder_on_disk = foo[f'{chrom}:{strand}:count'].shape[0] * [1]
            
        #spladder_GTEX = np.mean(foo[f'{chrom}:{strand}:count'][:, hdf_id_GTEX], axis = 1)
        #spladder_GTEXcore = np.mean(foo[f'{chrom}:{strand}:count'][:, hdf_id_GTEXcore], axis = 1)

        df_spladder = pd.DataFrame(spladder_on_disk, #, spladder_GTEX, spladder_GTEXcore]
                                  columns = ['spladder_GTEX_on_disk']) #, 'GTEX_collab', 'GTEX_collab_core'])
        # Junction coordinates
        df_spladder['jx_start'] = foo[f'{chrom}:{strand}:junction_start'][...]
        df_spladder['jx_end'] = foo[f'{chrom}:{strand}:junction_end'][...]
        df_spladder['jx_start'] = df_spladder['jx_start'].astype(str)
        df_spladder['jx_end'] = df_spladder['jx_end'].astype(str)

        # Strand
        if strand == '+':
            df_spladder['jx_coord'] = df_spladder['jx_start'] + '_' + df_spladder['jx_end']
            df_spladder['strand_spladder'] = '+'
        else:
            df_spladder['jx_coord'] = df_spladder['jx_end'] + '_' + df_spladder['jx_start']
            df_spladder['strand_spladder'] = '-'


        display(df_spladder.head(1))
        df_spladder_a.append(df_spladder)

df_spladder_a = pd.concat(df_spladder_a, axis = 0 )

chr11

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    60013  134905  134905_60013               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    60038  244441  60038_244441               +

chr21

   spladder_GTEX_on_disk jx_start   jx_end         jx_coord strand_spladder
0                      1  5010341  5128213  5128213_5010341               -

   spladder_GTEX_on_disk jx_start   jx_end         jx_coord strand_spladder
0                      1  5010688  5069102  5010688_5069102               +

chr7

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10060  16703  16703_10060               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10657  342881  10657_342881               +

chr10

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10372  64411  64411_10372               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10526  12260  10526_12260               +

chrY

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10627  222896  222896_10627               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    11624  223924  11624_223924               +

chr14

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,16000843,16002040,16002040_16000843,-

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,16008942,16126024,16008942_16126024,+

chr19

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    60030  60520  60520_60030               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    60126  64402  60126_64402               +

chr2

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10177  305527  305527_10177               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10693  235534  10693_235534               +

chr5

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    11590  11751  11751_11590               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    12042  465037  12042_465037               +

chr20

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    60142  421124  421124_60142               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    60048  327130  60048_327130               +

chr13

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,16022079,16257588,16257588_16022079,-

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,16008339,16013979,16008339_16013979,+

chr9

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10017  10073  10073_10017               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10468  10552  10468_10552               +

chr6

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    61577  486153  486153_61577               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    62243  537295  62243_537295               +

chr15

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,17004839,17030594,17030594_17004839,-

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,17003723,17021285,17003723_17021285,+

chr1

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10041  10064  10064_10041               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10106  10446  10106_10446               +

chr8

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    60168  217501  217501_60168               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    60162  70065  60162_70065               +

chr4

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10021  10043  10043_10021               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10316  480735  10316_480735               +

chrX

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    16259  16375  16375_16259               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    14530  19445  14530_19445               +

chr12

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10060  10083  10083_10060               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10616  15486  10616_15486               +

chr16

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10029  173154  173154_10029               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10034  173283  10034_173283               +

chrM

   spladder_GTEX_on_disk jx_start jx_end jx_coord strand_spladder
0                      1       10   5319  5319_10               -

   spladder_GTEX_on_disk jx_start jx_end jx_coord strand_spladder
0                      1        8   2592   8_2592               +

chr17

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    60024  62229  62229_60024               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    60093  61276  60093_61276               +

chr18

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10020  10074  10074_10020               -

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10722  12614  10722_12614               +

chr3

   spladder_GTEX_on_disk jx_start jx_end     jx_coord strand_spladder
0                      1    10024  10279  10279_10024               -

   spladder_GTEX_on_disk jx_start  jx_end      jx_coord strand_spladder
0                      1    10975  391700  10975_391700               +

chr22

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,10510029,10858215,10858215_10510029,-

,spladder_GTEX_on_disk,jx_start,jx_end,jx_coord,strand_spladder
0,1,10510296,10940891,10510296_10940891,+

In [80]:
df_spladder_a = df_spladder_a.drop(['jx_start', 'jx_end'], axis = 1)

In [81]:
df_spladder_a.head()

   spladder_GTEX_on_disk      jx_coord strand_spladder
0                      1  134905_60013               -
1                      1  309222_60093               -
2                      1  500501_60527               -
3                      1  500586_60527               -
4                      1  502138_60527               -

# Combine fasta (MHC), GTEX, new recurrence and expression values

In [80]:
print(cross_gene_junction_GTEX_df.shape)
cross_gene_junction_GTEX_df.head()

(3447111, 4)

            jx_coord                gene strand  GTEX_presence
0  68720595_68722454  ENSG00000060339.14      +              1
2  68720644_68722454  ENSG00000060339.14      +              1
3  68721156_68722329  ENSG00000060339.14      +              1
4  68721156_68722415  ENSG00000060339.14      +              1
5  68721156_68722454  ENSG00000060339.14      +              1

In [81]:
print(result.shape)
result.head()

(912695, 15)

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,origin,peptide,sample,percentile_rank,affinity
0,2,56,1,0,0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all,8.5,17394.11
1,2,57,1,0,0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,3exons_9mer,ALGVQQPSLLGASPTIYTQQTALAAAGLTTQTPANYQLTQTAALQQ...,TCGABHA18V01A11RA12D07all,8.5,17394.11
2,4,12,0,0,0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,2exons,WLRGELDRAAADGVLSVYPGLPASPSAGSACDQHLLELHWLCGGLCLRP,TCGABHA18V01A11RA12D07all,0.5,115.36
3,5,12,0,0,1,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,2exons,WLRGELDRAAADGWTMGTGARLSPSCVPGTWTGETCVPSSRRPWWR...,TCGABHA18V01A11RA12D07all,1.8,5876.76
4,6,12,0,0,0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,2exons,WLRGELDRAAADGWTMGTGARLSPSCVPGTWTGETCVPSSRRPWWR...,TCGABHA18V01A11RA12D07all,1.8,5876.76

In [82]:
print(new_generation_df.shape)
new_generation_df.head()

(30112, 1109)

,index,kmer,TCGA3CAAAU01A11RA41B07all,TCGA3CAALI01A11RA41B07all,TCGA3CAALJ01A31RA41B07all,TCGA3CAALK01A11RA41B07all,TCGA4HAAAK01A12RA41B07all,TCGA5LAAT001A12RA41B07all,TCGA5LAAT101A12RA41B07all,TCGA5TA9QA01A11RA41B07all,...,TCGAWTAB4401A11RA41B07all,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,gene,recurrence
0,0,AAAALQQHS,4.0,1.0,1.0,3.0,1.0,0.0,4.0,1.0,...,0.0,6.0,0.0,0.0,3.0,True,0.0,0,ENSG00000060339.14,970
1,1,AAALQQHSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1
2,2,AALQQHSSV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1
3,3,ALQQHSSVF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1
4,4,AQQRVFTGV,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,True,0.0,0,ENSG00000060339.14,1

In [85]:
# Combine all results 
df_plot = result.merge(cross_gene_junction_GTEX_df, on = ['jx_coord', 'gene'], how = 'left')
df_plot = df_plot.merge(new_generation_df, on = ['kmer', 'gene'], how = 'left')
df_plot['GTEX_presence'] = df_plot['GTEX_presence'].fillna(0)

In [86]:
df_plot.head()

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,...,TCGAWTAB4101A11RA41B07all,TCGAWTAB4401A11RA41B07all,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,recurrence
0,2,56,1,0,0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,...,0.0,0.0,6.0,0.0,0.0,3.0,True,0.0,0.0,970.0
1,2,57,1,0,0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,...,0.0,0.0,6.0,0.0,0.0,3.0,True,0.0,0.0,970.0
2,4,12,0,0,0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,...,72.0,28.0,156.0,164.0,112.0,651.0,True,1.0,0.0,1100.0
3,5,12,0,0,1,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,...,0.0,1.0,2.0,1.0,0.0,4.0,True,1.0,0.0,972.0
4,6,12,0,0,0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,...,0.0,1.0,2.0,1.0,0.0,4.0,True,1.0,0.0,972.0

In [87]:
# Save intermediate file 
df_plot.to_csv(os.path.join(gene_eq_path, 'exp_427_kmers_plot2_fix-sample.csv.gz'), 
                      compression = 'gzip', index = None )

In [91]:
meta_cols = [ col for col in df_plot.columns if 'TCGA' not in col ] 

df_plot.loc[df_plot['kmer'] == 'SPQSGSLGR', meta_cols]

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,...,sample,percentile_rank,affinity,strand,GTEX_presence,index,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,recurrence
244880,67975,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,...,TCGAC8A12P01A11RA11507all,NaN,NaN,NaN,0.0,5.0,True,0.0,0.0,480.0
609786,69811,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,...,TCGAA2A0SX01A12RA08407all,NaN,NaN,NaN,0.0,5.0,True,0.0,0.0,480.0
609787,69813,56,0,0,1,ENSG00000128159.12,50221274_50220015,SPQSGSLGR,0,0,...,TCGAA2A0SX01A12RA08407all,NaN,NaN,-,1.0,5.0,True,0.0,0.0,480.0
789879,68616,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,...,TCGAA2A0D201A21RA03407all,6.5,8739.69,NaN,0.0,5.0,True,0.0,0.0,480.0
789880,68617,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,...,TCGAA2A0D201A21RA03407all,6.5,8739.69,NaN,0.0,5.0,True,0.0,0.0,480.0
789881,68618,118,0,0,1,ENSG00000128159.12,50221518_50221445,SPQSGSLGR,0,0,...,TCGAA2A0D201A21RA03407all,6.5,8739.69,NaN,0.0,5.0,True,0.0,0.0,480.0
789882,68619,56,0,0,1,ENSG00000128159.12,50221274_50220015,SPQSGSLGR,0,0,...,TCGAA2A0D201A21RA03407all,6.5,8739.69,-,1.0,5.0,True,0.0,0.0,480.0

In [88]:
df_plot.shape

(912695, 1124)

In [ ]:
df_plot.groupby()

In [93]:
df_plot.loc[:, meta_cols].head()

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,...,sample,percentile_rank,affinity,strand,GTEX_presence,index,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,recurrence
0,2,56,1,0,0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,...,TCGABHA18V01A11RA12D07all,8.5,17394.11,+,1.0,0.0,True,0.0,0.0,970.0
1,2,57,1,0,0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,...,TCGABHA18V01A11RA12D07all,8.5,17394.11,NaN,0.0,0.0,True,0.0,0.0,970.0
2,4,12,0,0,0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,...,TCGABHA18V01A11RA12D07all,0.5,115.36,-,1.0,0.0,True,1.0,0.0,1100.0
3,5,12,0,0,1,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,...,TCGABHA18V01A11RA12D07all,1.8,5876.76,-,1.0,1.0,True,1.0,0.0,972.0
4,6,12,0,0,0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,...,TCGABHA18V01A11RA12D07all,1.8,5876.76,-,1.0,1.0,True,1.0,0.0,972.0

# TEST

In [69]:
df_plot = pd.read_csv(os.path.join(gene_eq_path, 'exp_427_kmers_plot2_fix-sample.csv.gz'), 
                      compression = 'gzip')

/cluster/home/prelotla/software/anaconda3/envs/myimmuno3_light/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,6,7,8,9,10,11,15,1120) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [82]:
test = df_plot.merge(df_spladder_a, on = 'jx_coord', how = 'left')

In [84]:
test.head()

,>pepID,jx_pos,between_codons,includes_5',includes_3',gene,jx_coord,kmer,readFrameAnnotated,junctionAnnotated,...,TCGAXXA89901A11RA36F07all,TCGAXXA89A01A11RA36F07all,TCGAZ7A8R501A42RA41B07all,TCGAZ7A8R601A11RA41B07all,isCrossJunction,junctionAnnotated_kmer,readFrameAnnotated_kmer,recurrence,spladder_GTEX_on_disk,strand_spladder
0,2,56.0,1.0,0.0,0.0,ENSG00000060339.14,68737048_68742427,AAAALQQHS,0,0,...,6.0,0.0,0.0,3.0,True,0.0,0.0,970.0,1.0,+
1,2,57.0,1.0,0.0,0.0,ENSG00000060339.14,68742430_68742487,AAAALQQHS,0,0,...,6.0,0.0,0.0,3.0,True,0.0,0.0,970.0,NaN,NaN
2,4,12.0,0.0,0.0,0.0,ENSG00000119333.11,128640690_128637027,AAADGVLSV,0,1,...,156.0,164.0,112.0,651.0,True,1.0,0.0,1100.0,1.0,-
3,5,12.0,0.0,0.0,1.0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,...,2.0,1.0,0.0,4.0,True,1.0,0.0,972.0,1.0,-
4,6,12.0,0.0,0.0,0.0,ENSG00000119333.11,128640690_128636438,AAADGWTMG,0,1,...,2.0,1.0,0.0,4.0,True,1.0,0.0,972.0,1.0,-

In [ ]:
if filtered:
    spladder_suffix = 'unfiltered-spladder'
else:
    spladder_suffix = 'filtered-spladder'
if counts: 
    spladder_suffix += '-count'
path_save = os.path.join(gene_eq_path, 
                         f'exp_427_kmers_plot2_fix-sample_{spladder_suffix}.csv.gz')
print(path_save)
test.to_csv(path_save, compression = 'gzip', index = None)

In [ ]:
#