In [8]:
import tarfile
import pandas as pd
import glob
import os
import numpy as np
from collections import defaultdict
import gzip
from helpers_map import *

# MAIN

In [9]:
### Inputs ###

basepath = '/cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374' #TCGA_Ovarian_374' #TCGA_Breast_1102'
filtering_run = 'filtering_samples/filters_19May_order_5ge_wAnnot_GPstar'
fasta_paths = glob.glob(os.path.join(basepath, filtering_run, '*25012024*fa*'))
path_filtered = glob.glob(os.path.join(basepath, filtering_run, '*Filt*'))

In [10]:
### Main ###
for fasta in fasta_paths:
    sample = os.path.basename(fasta).split('_')[1]
    path_filtered_sample = [path for path in path_filtered if sample in path]
    print(len(path_filtered_sample))

    # Fasta
    peptides_IDS, peptides_sequences, peptides_IDS_expand, cuts_peptides = preprocess_fasta(fasta)
    fa = pd.DataFrame({'peptide_id': peptides_IDS_expand, \
    'kmers': cuts_peptides}) 
    fa = fa.drop_duplicates()
    display(fa.head())
    print(fa.shape)
    

    # Experiments
    kmer_to_filesID_ = experiments_preprocess(path_filtered_sample)
    exp = pd.DataFrame(kmer_to_filesID_, columns = ['kmers', 'experiment_ids'])
    display(exp.head())
    print(exp.shape)

    # Result: Merge fasta on experiments
    res = exp.merge(fa, on = 'kmers', how = 'inner')
    display(res.head())
    print(res.shape)
    res = res.drop('kmers', axis = 1).drop_duplicates()
    print(res.shape)
    # Result: Collapse to get unique peptide IDs
    collapse_res = defaultdict(set)
    for pep_id, exp_id in zip(res['peptide_id'], res['experiment_ids']):
        collapse_res[pep_id].update(exp_id.split(';'))
    collapse_res_df = []
    for k, v in collapse_res.items():  # Collapse 
        collapse_res_df.append((k,';'.join(v)))
    collapse_res_df = pd.DataFrame(collapse_res_df, columns = ['peptide_id', 'experiment_ids'])
    display(collapse_res_df.head())
    print(collapse_res_df.shape)
    
    # Result: add peptide sequences
    peptide_sequences_ = pd.DataFrame({'peptide_id': peptides_IDS, 'peptide_sequence':peptides_sequences})
    collapse_res_df = collapse_res_df.merge(peptide_sequences_, on = 'peptide_id', how = 'inner')
    display(collapse_res_df.head())
    print(collapse_res_df.shape)
    
    print('Number of peptide IDS')
    print(len(fa['peptide_id'].unique()))
    print(len(res['peptide_id'].unique()))
    print(len(collapse_res_df['peptide_id'].unique()))
    
    save_name = os.path.join(basepath, filtering_run, f'G_{sample}_experiments_per_peptide_25012024.tsv.gz')
    collapse_res_df.to_csv(save_name, index = None, compression = 'gzip', sep = '\t')
    print(f'Save to {save_name}')
    print('----- \n')
    

#     display(res.loc[res['peptide_id'] == '1'])

65
Load /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-24-1431-01A-01R-1566-13_pool_kmer_25012024.fa.gz fasta

  peptide_id      kmers
0          1  AAPPAQGEP
1          1  AAAPPAQGE
2          1  AAAAPPAQG
3          1  AAAAAPPAQ
4          1  AAAAAAPPA

(1244978, 2)

       kmers                                     experiment_ids
0  DQPHGPPQQ  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
1  LYPDTATRH  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
2  EVLQGGGPP  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
3  LLAPWQQNS  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
4  PRVQMATDA  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...

(58131, 2)

       kmers                                     experiment_ids peptide_id
0  DQPHGPPQQ  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      17883
1  DQPHGPPQQ  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      17884
2  DQPHGPPQQ  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      17885
3  DQPHGPPQQ  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      17886
4  DQPHGPPQQ  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      17887

(622053, 3)
(172419, 2)

  peptide_id                                     experiment_ids
0      17883  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...
1      17884  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...
2      17885  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...
3      17886  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...
4      17887  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...

(144404, 2)

,peptide_id,experiment_ids,peptide_sequence
0,17883,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,RDEPRGLHDQPHGPPQQA
1,17884,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,HVVSQRAAPGGARRDEPRGLHDQPHGPPQQA
2,17885,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,RHLQQPEREPGPQDHVVSQRAAPGGARRDEPRGLHDQPHGPPQQA
3,17886,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,AMPVSASDRHLQQPEREPGPQDHVVSQRAAPGGARRDEPRGLHDQP...
4,17887,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,RHLQQPEREPGPQDHVVSQRAAPGGARRDEPRGLHDQPHGPPQQAG...

(153660, 3)
Number of peptide IDS
145271
144404
144404
Save to /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-24-1431-01A-01R-1566-13_experiments_per_peptide_25012024.tsv.gz
-----

65
Load /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-25-1319-01A-01R-1565-13_pool_kmer_25012024.fa.gz fasta

  peptide_id      kmers
0          1  PPAQGEPPQ
1          1  APPAQGEPP
2          1  AAPPAQGEP
3          1  AAAPPAQGE
4          1  AAAAPPAQG

(1835777, 2)

       kmers                                     experiment_ids
0  TDIPPTSAI  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
1  ASVTVSVGS  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
2  NTEEAASAA  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
3  KRTVLNARE  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
4  EDVECSVFY  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...

(98458, 2)

       kmers                                     experiment_ids peptide_id
0  TDIPPTSAI  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     194863
1  ASVTVSVGS  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     198724
2  ASVTVSVGS  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     198725
3  NTEEAASAA  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     168978
4  NTEEAASAA  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     168979

(964976, 3)
(258808, 2)

  peptide_id                                     experiment_ids
0     194863  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
1     198724  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
2     198725  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
3     168978  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
4     168979  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...

(212115, 2)

,peptide_id,experiment_ids,peptide_sequence
0,194863,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,IEPLDDIAAVTDIPPTSAIPTDQRPLQQRPTSHLAPVTSVREKGAG...
1,198724,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,HLLKYHWRPEAVPADTRSMCLPCGRWDSGTAWRWGSPTTARAAAAW...
2,198725,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,AMASVTVSVGSANARSRGPLGRCVRSAPPARMHAAPR
3,168978,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,NGNDSKKFKGDSRSAGVPSRVIHIRKLPIDVTEGEVISLGLPFGKV...
4,168979,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,AFIEMNTEEAASAAAVDAGMAMAGQSPVLRIIVENLFYPVTLDVLHQ

(226015, 3)
Number of peptide IDS
213844
212115
212115
Save to /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-25-1319-01A-01R-1565-13_experiments_per_peptide_25012024.tsv.gz
-----

65
Load /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-61-2008-01A-02R-1568-13_pool_kmer_25012024.fa.gz fasta

  peptide_id      kmers
0          1  APAPAAPPA
1          1  PAPAPAAPP
2          1  DPAPAPAAP
3          1  ADPAPAPAA
4          1  AADPAPAPA

(2461378, 2)

       kmers                                     experiment_ids
0  GAMGPDHPR  0213AGA;0213XGA;021AAGA;0A13AGA;0A13XGA;0A1AAG...
1  KKFKEVFRE            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA
2  DQPPCKVIG            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA
3  KDDYVNLPI            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA
4  QPLALLGEC  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...

(128546, 2)

       kmers                                     experiment_ids peptide_id
0  GAMGPDHPR  0213AGA;0213XGA;021AAGA;0A13AGA;0A13XGA;0A1AAG...     248584
1  KKFKEVFRE            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA     269009
2  DQPPCKVIG            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA     192561
3  DQPPCKVIG            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA     192562
4  DQPPCKVIG            021AAGA;025AAGA;0A1AAGA;0A5AAGA;0ANAAGA     192563

(1300920, 3)
(357455, 2)

  peptide_id                                     experiment_ids
0     248584  0213AGA;0AN3XGA;0ANAAGA;0A1AAGA;021AAGA;0A13AG...
1     269009            025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA
2     192561            025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA
3     192562            025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA
4     192563            025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA

(285557, 2)

,peptide_id,experiment_ids,peptide_sequence
0,248584,0213AGA;0AN3XGA;0ANAAGA;0A1AAGA;021AAGA;0A13AG...,RCCPHPLRPEGSGAMGPDHPRQ
1,269009,025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA,YRRKALQWHPDKNPDNKEFAEKKFKEVFREFFGSGDPFAELF
2,192561,025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA,KPAEDEWGKTPDAMKAAMALEKKLNQALLDLHALGSARTDPHPPDQ...
3,192562,025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA,PAEDEWGKTPDAMKAAMALEKKLNQALLDLHALGSARTDPHPPDQP...
4,192563,025AAGA;0ANAAGA;0A1AAGA;021AAGA;0A5AAGA,ARTDPHPPDQPPCKVIGLLPKPLPPANRQLS

(305382, 3)
Number of peptide IDS
286616
285557
285557
Save to /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-61-2008-01A-02R-1568-13_experiments_per_peptide_25012024.tsv.gz
-----

65
Load /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-25-1313-01A-01R-1565-13_pool_kmer_25012024.fa.gz fasta

  peptide_id      kmers
0          1  SPRGKQGGG
1          1  GSPRGKQGG
2          1  RGSPRGKQG
3          1  RRGSPRGKQ
4          1  HRRGSPRGK

(1072812, 2)

       kmers                                     experiment_ids
0  PKKAKRPLN  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
1  SLARVLRPR  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
2  GSGTPGQHC  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
3  EDVECSVFY  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
4  CRNFWGWGY  02132GA;0213AGA;0213XGA;021AAGA;02532GA;0253AG...

(56347, 2)

       kmers                                     experiment_ids peptide_id
0  PKKAKRPLN  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     122279
1  SLARVLRPR  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      46316
2  SLARVLRPR  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...      46317
3  GSGTPGQHC  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     123247
4  EDVECSVFY  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     123176

(560104, 3)
(149280, 2)

  peptide_id                                     experiment_ids
0     122279  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...
1      46316  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
2      46317  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
3     123247  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...
4     123176  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...

(124298, 2)

,peptide_id,experiment_ids,peptide_sequence
0,122279,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,IIRQPSEEEIIKLAPPPKKAKRPLNPHLEGAKKSQSSMFVLLCWTVS
1,46316,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,ENGHVKSNGDLSLARVLRPRGRSPPRRPPRRRRNSLSRSLSN
2,46317,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,ENGHVKSNGDLSLARVLRPRG
3,123247,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,MQLEIKVALNFIISYLYNKLPRRRADLFGEELERLLKKKYEGHWYP...
4,123176,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;025AAG...,MGNQVEKLTHLSYKEVPTADPTGVDRDDGPRIGVSYIFSNDDEDVE...

(132053, 3)
Number of peptide IDS
124817
124298
124298
Save to /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-25-1313-01A-01R-1565-13_experiments_per_peptide_25012024.tsv.gz
-----

65
Load /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-24-2298-01A-01R-1569-13_pool_kmer_25012024.fa.gz fasta

  peptide_id      kmers
0          1  YTKAWEEYY
1          1  YYTKAWEEY
2          1  HYYTKAWEE
3          1  SHYYTKAWE
4          1  YSHYYTKAW

(2663734, 2)

       kmers                                     experiment_ids
0  LWMPWTDAG  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
1  SRPWRCHSP  0A101GA;0A102GA;0A10AGA;0A10XGA;0A111GA;0A112G...
2  LLENIIQET  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
3  GGSDHPSLT  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...
4  PCHPGGHAG  02132GA;0213AGA;0213XGA;021AAGA;0A132GA;0A13AG...

(139451, 2)

       kmers                                     experiment_ids peptide_id
0  LWMPWTDAG  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     249327
1  LWMPWTDAG  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     249328
2  SRPWRCHSP  0A101GA;0A102GA;0A10AGA;0A10XGA;0A111GA;0A112G...     103731
3  LLENIIQET  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     294014
4  LLENIIQET  02101GA;02102GA;0210AGA;0210XGA;02111GA;02112G...     294015

(1394534, 3)
(379675, 2)

  peptide_id                                     experiment_ids
0     249327  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
1     249328  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
2     103731  0A131GA;0A50AGA;0A532GA;0A51AGA;0A5AAGA;0AN12G...
3     294014  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...
4     294015  0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...

(306906, 2)

,peptide_id,experiment_ids,peptide_sequence
0,249327,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,MSYGRPPPDVEGMTSLKVDNLTYRTSPDTLRTLWMPWTDAGAA
1,249328,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,TLWMPWTDAGAA
2,103731,0A131GA;0A50AGA;0A532GA;0A51AGA;0A5AAGA;0AN12G...,GSTYTPSEAGNELDMELGEEEVEEESRPWRCHSPGTAQGHTCLALW...
3,294014,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,GKPNIGQEQPVDDAAEVPQREPEKERGDPERQREMEEEEDEDEDED...
4,294015,0A131GA;0211AGA;0A50AGA;02132GA;0A532GA;0211XG...,GKPNIGQEQPVDDAAEVPQREPEKERGDPERQREMEEEEDEDEDED...

(331265, 3)
Number of peptide IDS
308377
306906
306906
Save to /cluster/work/grlab/projects/projects2020_OHSU/peptides_generation/CANCER_eth/commit_c4dd02c_conf2_Frame_cap0_runs/TCGA_Ovarian_374/filtering_samples/filters_19May_order_5ge_wAnnot_GPstar/G_TCGA-24-2298-01A-01R-1569-13_experiments_per_peptide_25012024.tsv.gz
-----

# Debug